@page
@model inzynieria.Pages.ApplicationModel
@{
    ViewData["Title"] = "Wnioski";
}

<h2>Wnioski</h2>
<div class="container">
    <div class="col-md-6">
        <div class="card card-price">
            <div class="card-img">
                <a href="#">
                    <img src="~/images/card1.jpg" class="img-responsive">
                    <div class="card-caption">
                        <span class="h2">Wniosek o przyznanie 500+</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="price">PLN 0</div>
                <div class="lead">Złóż wniosek o przyznanie 500 zł na każde dziecko</div>
                <h4>Pzygotuj:</h4>
                <ul class="details">
                    <li>Dowód osobisty</li>
                    <li>Odpis aktu urodzenia dziecka</li>
                    <li><b>Średni czas wypełniania wniosku</b> ~10 minut</li>
                </ul>
                <a asp-page="/ApplicationFiveHundred" class="btn btn-success btn-lg btn-block buy-now">
                    Wypełnij <span class="glyphicon glyphicon-triangle-right"></span>
                </a>
            </div>
        </div>
    </div><div class="col-md-6">
        <div class="card card-price">
            <div class="card-img">
                <a href="#">
                    <img src="~/images/card2.jpg" class="img-responsive">
                    <div class="card-caption">
                        <span class="h2">Dostęp do "Loteria 500+"</span>
                    </div>
                </a>
            </div>
            <div class="card-body">
                <div class="price">PLN 10 <small>za kupon</small></div>
                <div class="lead">Wygraj dodatkowe 500+ na rok</div>
                <h4>Pzygotuj:</h4>
                <ul class="details">
                    <li>Dowód osobisty</li>
                    <li>Kartę kredytową</li>
                    <li><b>Ostatnia wygrana:</b> Pcim Górny, przed chwilą</li>
                </ul>
                <a href="#" class="btn btn-warning btn-lg btn-block buy-now">
                    Wypełnij <span class="glyphicon glyphicon-triangle-right"></span>
                </a>
            </div>
        </div>
    </div>
    <div class="col-sm-4">
    </div>
</div>

